<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/header.css">
  <title>Medicine</title>
</head>
<body>
  <header class="header">
    <div class="container header__container">
    <nav class="header__nav">
      <ul class="list header__list">
        <li class="list__item">
          <a href="../view/index.html">
            <img class="logo-img heder__logo-img" src="../assets//logo.png" alt="Логотип сайта">
          </a>
        </li>
        <li class="list__item">
          <a class="link header__link" href="../view/contacts.html">Контакты</a>
          <button class="button header__button button-login" id="buttonHeader">Войти</button>
        </li>
      </ul>
    </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <h1 class="title contacts__title">
        Контакты
      </h1>
      </div>
  </main>
  <div class="modal-window" id="modalWindow">
    <div class="modal-window__body">
      <form class="modal-window__form" id="form" action="./profile.html">
        <a class="modal-window__form-close" id="close">x</a>
        <h2 class="modal-window__title">Авторизация</h2>
        <div class="form__item"> 
          <label class="label" for="login">Логни</label>
          <input type="text" class="input input__name" id="login">
        </div>
        <div class="form__item">
          <label class="label"for="name">Пароль</label>
          <input type="text" class="input input__password" id="password">
        </div>
      
        <div class="form__action">
            <button class="button button__action-group button__action-group_theme_continue" id="continue">Продолжить</button>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="../js/modules/StorageManager.js"></script>
  <script type="text/javascript" src="../js/submodules/storage.js"></script>
  <script type="text/javascript" src="../js/dom/modalWindow.js"></script>
  <script type="text/javascript" src="../js/dom/authorization.js"></script>
  <script type="text/javascript" src="../js/dom/buttonStatus.js"></script>
  <script type="text/javascript" src="../js/dom/logoutButton.js"></script>
</body>
</html>