<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/header.css">
  <title>Medicine</title>
</head>
<body>
  <header class="header">
    <div class="container header__container">
    <nav class="header__nav">
      <ul class="list header__list">
        <li class="list__item">
          <a href="../view/index.html">
            <img class="logo-img heder__logo-img" src="../assets//logo.png" alt="Логотип сайта">
          </a>
        </li>
        <li class="list__item">
          <a class="link header__link" href="../view/contacts.html">Контакты</a>
          <button class="button header__button button-login">Войти</button>
        </li>
      </ul>
    </nav>
    </div>
  </header>
  <main class="main">
    <div class="container">
      <h1 class="title index__title">
        Место для получения медицинской помощи
      </h1>
      <div class="action">
        <button class="button button__action-group button__action-group_theme_login button-login" id="btn">Войти</button>
        <form class="form" action="./contacts.html">
          <button class="button button__action-group button__action-group_theme_contacts">Контакты</button>
        </form>
      
      </div>
      <ul class="cards">
        <li class="card__item">
          <div class="card index__card index__card_first">
            <div class="content-wrapper">
              <img class="card__img" src="../assets/heart.png" alt="Кардиограмма сердца">
            <h5 class="card__title">Онлайн-прием</h5>
            <hr class="spacer"></hr>
            <p class="card__text">Рыба текст</p>
            </div>
          </div>
        </li>
        <li class="card__item">
          <div class="card index__card index__card_second">
            <div class="content-wrapper">
              <img class="card__img" src="../assets/stethoscope.png" alt="Стетоскоп">
            <h5 class="card__title">Экстренный Случай</h5>
            <hr class="spacer"></hr>
            <p class="card__text">Рыба текст</p>
            </div>
          </div>
        </li>
        <li class="card__item">
          <div class="card index__card">
            <div class="content-wrapper">
              <img class="card__img" src="../assets/form.png" alt="Бланк">
            <h5 class="card__title">Лечение рака</h5>
            <hr class="spacer"></hr>
            <p class="card__text">Рыба текст</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    
  </main>
  <div class="modal-window" id="modalWindow">
    <div class="modal-window__body">
      <form class="modal-window__form" id="form" action="./profile.html">
        <a class="modal-window__form-close" id="close">x</a>
        <h2 class="modal-window__title">Авторизация</h2>
        <div class="form__item"> 
          <label class="label" for="name">Имя</label>
          <input type="text" class="input input__name" id="name">
        </div>
        <div class="form__item">
          <label class="label"for="name">Пароль</label>
          <input type="text" class="input input__password" id="password">
        </div>
      
        <div class="form__action">
            <button class="button button__action-group button__action-group_theme_continue" id="continue" type="submit">Продолжить</button>
        </div>
        </form>
    </div>
  </div>
  <script>
    /*document.getElementById("form").addEventListener("click", function(event){
      event.preventDefault()
    });*/
    const collection = document.getElementsByClassName("button-login")
    console.log(collection)
    const buttonLoginArray = Array.from(collection)
    buttonLoginArray.forEach(element => {
      console.log(element)
      element.addEventListener("click", function(){
      const modalWindow = document.getElementById("modalWindow")
      modalWindow.classList.add("modal-window_open")
    })
    });
    document.getElementById("close").addEventListener("click", function(){
      const modalWindow = document.getElementById("modalWindow")
      modalWindow.classList.remove("modal-window_open")
    })
    document.getElementById("continue").addEventListener("click", function(){

    })
    </script>
</body>
</html>