<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <title>Medicine</title>
</head>
<body>
  <div data-snippet="../layout/default.html"></div>
  <main class="main">
    <div class="container">
      <h1 class="title profile__title">
        Привет, Сергей!
      </h1>
      <div class="action">
        <button class="button button__action-group-profile button__action-group-profile_theme_logout">Выйти из аккаунта</button>
        <button class="button button__action-group-profile button__action-group-profile_theme_contacts">Перейти в контакты</button>
      </div>
    </div>
  </main>
  <script src="../js/includeHtmlSnippet.js"></script>
</body>
</html>