<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../css//header.css">
</head>
<body>
    <header class="header">
      <div class="container header__container">
      <nav class="header__nav">
        <ul class="list header__list">
          <li class="list__item">
            <a href="../view/index.html">
              <img class="logo-img heder__logo-img" src="../assets//logo.png" alt="Логотип сайта">
            </a>
          </li>
          <li class="list__item">
            <a class="link header__link" href="../view/contacts.html" >Контакты</a>
            <button class="button header__button button-login" id="loginHeader">Войти</button>
          </li>
        </ul>
      </nav>
      </div>
    </header>
    <!--<script>
      console.log(document.getElementById("loginHeader"))
    document.getElementById("loginHeader").addEventListener("click", function(){
      const modalWindow = document.getElementById("modalWindow")
      modalWindow.classList.add("modal-window_open")
    })
    </script>-->
</body>
</html>