.index__title{
  font-size: 3.625rem;
  font-family: var(--main-font);
  color: var(--primary-text-color);
  line-height: 1.3794em;
  width: 12.534em;
  padding-top: 1.664em;
}
.button__action-group{
  font-size: 0.875rem;
  font-family: var(--main-font);
  line-height: 1.571em;
  border-radius: 5px;
  padding: 1.071em 2.875em;
  cursor: pointer;
}
.button__action-group_theme_login,
.button__action-group_theme_continue{
  background-color: var(--button-color);
  color: var(--white-color);
  border-radius: 5px;
  margin-right: 0.714em;
}
.button__action-group_theme_contacts{
  color: var(--button-color);
}
.index__card{
  width: 20.5em;
}
.index__card_first{
  margin-right: 1.875em;
}
.index__card_second{
  margin-right: 1.9375em;
}
.card__title{
  font-size: 1rem;
  font-family: var(--main-font);
  line-height: 1.5em;
  color: var(--primary-text-color);
  padding: 1.25em 0em; 
}
.spacer{
  width: 50px;
  height: 2px;
  background-color: var(--danger-color);
  margin: 0em;
  border: none;
}
.card__text{
  font-size: 0.875rem;
  font-family: var(--secondary-font);
  line-height: 1.429em;
  color: var(--secondary-text-color);
  margin-top: 1.4286em;
}
.button__action-group_theme_continue{
  width: 12.5em;
  height: 3.5em;
  padding: 0.8em 0.5em;
}